/* General styles */

* {
    box-sizing: border-box;
}

#calculator {
    background-color: rgb(44, 62, 80);
    margin: 10px auto 0 auto;
    overflow: hidden;
    width: 240px;
}


/* Screen styles */

#screen {
    background-color: rgb(52, 73, 94);
    color: white;
    font-family: sans-serif;
    height: 65px;
    margin: 5px;
    padding: 0 5px 0 5px;
    text-align: right;
    width: 230px;
}

#total {
    font-size: 46px;
    overflow: hidden;
    white-space: nowrap;
}

#history {
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
}

#error {
    font-size: 10px;
}

/* Button Styles */

.button {
    background-color: rgb(52, 73, 94);
    border: none;
    color: white;
    display: block;
    float: left;
    height: 50px;
    margin: 5px;
    padding: 0px;
    width: 50px;
}


.red {
    background-color: red;
}

#zero {
    width: 110px;
}