* {
    box-sizing: border-box;
}

#calculator {
    background-color: rgb(44, 62, 80);
    margin: 10px auto 0 auto;
    overflow: hidden;
    width: 240px;
}

#screen {
    background-color: rgb(52, 73, 94);
    font-family: 'Droid Sans Mono', monospace;
    color: white;
    height: 65px;
    margin: 5px;
    padding: 0 5px 0 5px;
    text-align: right;
    width: 230px;
}

#total {
    font-size: 46px;
    white-space: nowrap;
    overflow: hidden;
}

#expression {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.char {
    display: inline-block;
}

#total .char {
    width: 27.5px;
}

#expression .char {
    width: 11px;
    text-align: center;
}


.button {
    background-color: rgb(52, 73, 94);
    border: none;
    color: white;
    display: block;
    float: left;
    height: 50px;
    margin: 5px;
    padding: 0px;
    width: 50px;
}


#zero {
    width: 110px;
}

.red {
    background-color: red;
}